<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/OUC-BBS</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping resource="org/fft/oucbbs/UserEntity.hbm.xml"/>
      <mapping class="org.fft.oucbbs.UserEntity"/>
      <mapping resource="org/fft/oucbbs/ArticleEntity.hbm.xml"/>
      <mapping class="org.fft.oucbbs.ArticleEntity"/>
      <mapping class="org.fft.oucbbs.CommentEntity"/>
      <mapping resource="org/fft/oucbbs/CommentEntity.hbm.xml"/>
      <mapping class="org.fft.oucbbs.PostEntity"/>
      <mapping resource="org/fft/oucbbs/PostEntity.hbm.xml"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>